.page-footer {
  background-color: var(--bg-color);
  padding: 30px 0;
  width: 100%;

  a {
    color: var(--text-color);
  }
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}
.footer__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 65px;
}
.footer__items {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 1000px) {
  .footer__menu {
    gap: 30px;
  }
}
