
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li,
fieldset, form, label, textarea,
article, aside, footer, header,
main, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
menu, ol, ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  hyphens: auto;
}

button {
  text-align: left;
}

button,
[type=submit] {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  &::placeholder {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  hyphens: auto;
}
