.block {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding: 28px 20px;
  border-radius: 20px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.section__info {
  display: flex;
  align-items: center;
  gap: 10px;

  .section__info-name {
    font-weight: 600;
    font-size: 15px;
  }

  .section__info-email {
    color: var(--text-color);
    font-size: 15px;
  }
}
.section__content {
  background-color: var(--bg-color);
  border-radius: 20px;

  .section__content-chat {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding-top: 50px;
    max-height: 400px;
    overflow-y: auto;

    img {
      max-width: 190px;
    }

    span {
      font-weight: 500;
      line-height: 24px;
      text-align: center;
      max-width: 470px;
    }
  }
  .input-container {
    display: flex;
    gap: 12px;
  }

  .file-upload-label {
    cursor: pointer;
    margin-right: 1rem;
  }

  .file-upload-icon {
    width: 24px;
    height: 24px;
  }

  .file-upload-input {
    display: none;
  }
  .message {
    background-color: white;
    padding: 16px 22px;
    border-radius: 12px;
    max-width: 500px;
    word-wrap: break-word;
    white-space: normal;
  }
}

@media (max-width: 900px) {
  .block {
    margin: 40px;
  }

  @media (max-width: 500px) {
    .section__header {
      flex-direction: column;
      align-items: start;
      padding: 0 20px;
    }
    .section__info {
      width: 100%;
      justify-content: space-between;
    }
    .block {
      margin: 0;
      padding: 28px 0 0;
      border-radius: 0;
    }
    .section__content {
      .section__content-chat {
        span {
          max-width: 300px;
        }
      }
    }
  }
}
